Tahun kabisat terjadi 4 tahun sekali. Sehingga, yang tergolong tahun kabisat adalah tahun yang dapat dibagi 4 dan dibagi 400. Meskipun 4 dan 100 merupakan faktor dari 400, tahun yang dapat habis dibagi 100 bukan merupakan tahun kabisat. Seperti tahun 1900. 
Berikut ini program untuk menentukan tahun kabisat. Dengan inputan user.

In [23]:
def thn_kab(tahun):
  if tahun%400==0:
    print ("Tahun", tahun, "merupakan Tahun Kabisat")
    return True
  elif tahun%4==0:
    if tahun%100==0:
      print("Tahun", tahun, "bukan merupakan Tahun Kabisat")
      return False
    else:
      print("Tahun", tahun,"merupakan Tahun Kabisat")
      return True
  else :
    print("Tahun",tahun, "bukan merupakan Tahun Kabisat")
    return False

In [24]:
try:
  th=int(input("Masukkan Tahun : "))
except:
  print("Masukkan harus berupa angka !!")
hasil = thn_kab(th)

Masukkan Tahun : 2000
Tahun 2000 merupakan Tahun Kabisat

Test data untuk tahun-tahun tertentu :

In [22]:
tesData = [1900, 2000, 2016, 1987]
tesHasil = [False, True, True, False]
for i in range(len(tesData)):
	thn = tesData[i]
	print(thn,"->",end="")
	hsl = thn_kab(thn)
	if hsl == tesHasil[i]:
		print("TRUE")
	else:
		print("FALSE")

1900 ->Tahun 1900 bukan merupakan Tahun Kabisat
TRUE
2000 ->Tahun 2000 merupakan Tahun Kabisat
TRUE
2016 ->Tahun 2016 merupakan Tahun Kabisat
TRUE
1987 ->Tahun 1987 bukan merupakan Tahun Kabisat
TRUE